a {
    color: black;
}

#collections img {
    border-radius: 160px 0px;
}

#category h2 {
    transform: rotate(-90deg);
    position: relative;
    width: 648px;
    height: 52px;
    left: -250px;
    top: 240px;
}
#brandBanner{
    background-image: url(zaraimage.jpg);
}